/*https://coolors.co/562c2c-f2542d-ffc107-0e9594-127475*/

.section {
	/*margin-top: 100px;*/
	margin-bottom: 150px;
}

.section__nav {
	margin-bottom: 25px;
}

.i-block__soon {
	font-size:0.6rem;
	padding: 2px;
	background-color: #ffc107;
	border-radius:5px;
	color: #323232 !important;
}

.feature__title {
	display: inline-block;
	/*background-color: #F0F7EE !important;*/
	background-color: #fff5d6 !important;
    padding: 5px 15px;
    border-radius: 10px;
}

.feature__title--text {
	/*color: #ffc107 !important;*/
	color: #323232 !important;
	font-weight: 700;
}

.btn-primary {
	background-color: #ffc107;
	border-color: #ffc107;
	color: #323232;

	/*#ffc107*/
}

.btn-primary:hover {
	background-color: #1f1f1f;
	border-color: #1f1f1f;
}

.link__basic {
	color: #323232 !important;
	text-decoration: underline !important;
}

/*Измеенения в базовом акардеон бутстрап*/
.accordion-button:not(.collapsed) {
	background-color: #ebebeb !important;
	color: #323232 !important;
}

.accordion-button:focus {
	box-shadow: none !important;
}

/*Login*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.nav-link--light {
	color: #fff !important;
}

.btn-link {
	color: #323232 !important;
}
// Смена сообщения об ошибке на экране входа
.alert-danger-list--login {
	padding-left: 0px;
  list-style-type: none;
  margin: 0;
}

.alert-danger-list--login li {
    text-align: left;
}


/*Личный кабинет партнера*/
.partner-dashbord__info-block {
	background-color: #fff5d6 !important;
	padding: 10px 20px;
  display: inline-block;
  line-height: 1;
}

.partner-order-list__row {
	border: 2px solid #dee2e6;
	border-radius: 5px;
	padding: 10px;
}

.partner-order-list__added-reward {
	color: #0E9594;
}

.partner-order-list__minus-reward {
	color: #F2542D;
}

.partner-dashbord__section {
	margin-bottom: 3rem;
}

.partner-dashbord__group {
  padding: 5px 15px; 
  border-radius: 10px; 
  // margin-bottom:0.5rem;
}

/*Изменение базовой пагинации бутстрап*/

.page-item.active .page-link {
	background-color: #A99EA0;
	border-color:#A99EA0;
}

.page-link {
	color: #2B2727;
}

.partner_net__list {
	list-style-type: none;
}

.partner_net__list--lvl1 {
	margin-left: 0px;
}

.partner_net__item {
	min-width: 230px;
}



// $border: #ddd;
$border: #ffc107;
$border-size: 2px;
$border-hover: #aaa;
$bg-hover: #eee;
$text: #888;
$text-hover: #000;
$ident: 20px;
$left: -($ident);


// дерево партнеров
.wtree {
	padding: 0 !important;
	box-sizing:border-box;
	
	ul {
		padding: 0 !important;
		margin-left:$ident*2;
		position: relative;
		
	}
  li {
    list-style-type: none;
    // margin:10px 0 10px 10px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top:-16px;
      left:$left;
      border-left: $border-size dashed $border;
      border-bottom:$border-size dashed $border;
      width:$ident;
      height:22px;
    }
    &:after {
      position:absolute;
      content:"";
      top:5px;
      left:$left;
      border-left: $border-size dashed $border;
      border-top:$border-size dashed $border;
      width:$ident;
      height:100%;
    }
    &:last-child:after {
      display:none;
    }
  }
}

.partner_net__item-prop {
	font-size:12px;
}

.partner_net__item--own {
	&:before {
		border: none !important;
	}
}

.grid-row-orders {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "subpartner shop orderid total reward data";
    align-items: center;
}

.subpartner { grid-area: subpartner; }

.shop { grid-area: shop; }

.orderid { grid-area: orderid; }

.total { grid-area: total; }

.reward { grid-area: reward; }

.data { grid-area: data; }

.grid-row-orders__th-cell {
  display: none;
}

.grid-row-orders__cell {
    display: block;
  }

.reward {
    .grid-row-orders__cell {
     color: #0e9594; 
    }
  }


/*Tootlip*/

/*.app-tooltip {
  
}*/

/* Tooltip text */
.app-tooltip {
    /* Tooltip text */
    position: relative;
    display: inline-block;
    line-height: 1.2;
    // border-bottom: 1px dotted #222; /* If you want dots under the hoverable text */

    .tooltiptext {
    visibility: hidden;
    width: 250px;
    // background-color: #86858D;
    // color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size:12px;
    padding:5px;
    line-height: 1.4 !important;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Tooltip arrow */
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #86858D transparent transparent transparent;
  }
  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}





/* Show the tooltip text when you mouse over the tooltip container */
/*.app-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}*/



@media screen and (max-width: 768px ) {
	.section {
		margin-bottom: 75px;
	}

  .grid-row-orders {
    grid-template-columns: 50% 1fr;
    grid-template-areas:
    "orderid orderid"
    "subpartner subpartner"
    "shop shop"
    "total total"
    "reward reward"
    "data data";
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .grid-row-orders-th {
    display: none;
  }

  .grid-row-orders__th-cell {
      width: 50%;
      display: block;
  }

  .grid-row-orders__cell {
    width: 50%;
  }

  .subpartner,
  .shop,
  .orderid,
  .total,
  .reward,
  .data { 
    display: flex;
    flex-direction: row;
    padding: .5rem;
  }

  .orderid {
    background-color: #49525B;
    padding: 0.5rem;
    color: #fff;
  }

  



}
